<html>
  <head>
    <%= stylesheet_link_tag "sign.css" %>
  </head>
  <body>

<div class="form-sign" >

  <%= image_tag "blood-bank.svg", width: 72, class: "mb-2" %>

  <h1 class="h3 mb-4 fw-normal">New Account</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "email-0 form-control" %>
      <%= f.label :email %>
    </div>

    <div class="field form-floating">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "pass-0 form-control" %>
      <%= f.label :password, "Password #{"(#{@minimum_password_length} characters minimum)" if @minimum_password_length}" %>
    </div>

    <div class="field form-floating">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "pass-1 form-control" %>
      <%= f.label :password_confirmation, "Re-enter password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-lg" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>

</div>

  </body>
</html>
