<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= patient.surname %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= patient.sex %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= patient.dob %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= patient.age %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= patient.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= patient.weight %>
  </p>

  <p>
    <strong>Abo group:</strong>
    <%= patient.abo_group %>
  </p>

  <p>
    <strong>Rh group:</strong>
    <%= patient.rh_group %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= patient.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= patient.notes %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= patient.active %>
  </p>


</div>
