<html>
  <head>
    <%= stylesheet_link_tag "sign.css" %>
  </head>
  <body>

<div class="form-sign">

  <%= image_tag "blood-bank.svg", width: 72, class: "mb-2" %>

  <h1 class="h3 mb-4 fw-normal">myBloodBank Portal</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "email-0 form-control" %>
      <%= f.label :email %>
    </div>

    <div class="field form-floating">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "pass-1 form-control" %>
      <%= f.label :password %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "my-1 btn btn-lg" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field my-1">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>

</div>
  </body>
</html>
